.title {
    text-align: center;
    padding-top:40px;
    padding-bottom: 50px;
    font-size: 2.5rem;
    width:auto;
}
.head{
    margin:0 auto;
    position:absolute;
    background-color: #F5F6F7;
    margin-bottom:10px;
    padding-left: 50px;
}
.body {
    display: flex;
    width: auto;
    margin:0 auto;
    overflow:scroll;
}
body   {
    border-top:auto solid black;
    background-color:white;
    
}
.block{
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    width:290px;
}

p{
    font-size: 1rem;
    line-height: 1.5;
    width:250px;
    padding-left: 20px;
    padding-bottom: 30px;
    align-items: center;
}
.body img {
    width:290px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}